
.carousel-container {
  background: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel-item {
  height: 20rem;
  min-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* #entirething {
    display: inline-block;
    vertical-align:auto;
} */

#journal {
  /* font-family: url('./fonts/rainyhearts.ttf'); */
  width: 50%;
  margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  opacity: 90%;
}

.input {
  width: auto;
  margin: auto;
  margin-right: 5px;
  border-radius: 5px;
}

#textarea {
  /* font-family: url('./fonts/rainyhearts.ttf'); */
  display: block;
  width: 100%;
  overflow: scroll;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  border: 2px solid #bdc7d9;
  padding: 2px 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

#image {
  height: 1000px;
  background-image: url("./content/route119.png");
  filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#RandomPokemon {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 15px 50px 30px;
}

#pokeDiv {
    vertical-align: middle;
}