@font-face {
  font-family: "PokemonDigital";
  src: local("PokemonDigital"), url(./fonts/PokemonDigital.woff) format("woff");
}

#todoform-container {
  background-image: url("../src/content/pokemoncrystal.png");
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  flex-direction: column;
  align-items: center;
}


.form-title {
  text-align: center;
  font-size: 45px;
  font-family: PokemonDigital;
  color: rgb(0, 0, 0);
  background-color: rgb(224, 235, 255);
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 50vw;
}

.tdform {
  display: flex;
  flex-direction: column;
}

.handles {
  font-family: PokemonDigital;
  color: rgb(0, 0, 0);
  background-color: rgb(224, 235, 255);
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 10px;
  margin: 70px;
}

.handles .todo-name {
  border: 2px black;
}

.form-table-container {
  display: flex;
  justify-content: center;
}

.todoform-table {
  background-color: azure;
  border: 3px solid;
  font-family: PokemonDigital;
}
